<% @title = 'Create a Tournament' %>
<h1>New Tournament</h1>

<%= error_messages_for @tournament %>

<%= form_for @tournament do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :starts_on %>
		<div class="hint">(tourney starts at the *start* of this day)</div>
		<%= f.date_select :starts_on %>
	</div>
	<div>
		<%= f.label :ends_on %>
		<div class="hint">(tourney ends at the *end* of this day, when the clock strikes midnight)</div>
		<%= f.date_select :ends_on %>
	</div>
	<div>
		<%= f.label :confirmation_limit %>
		<%= f.text_field :confirmation_limit, :type => "number", :max => 64 %>
	<div>
		<%= f.submit 'Create' %>
	</div>
<% end %>