<% @title = 'Create a Tournament' %>
<h1>New Tournament</h1>

<%= error_messages_for @tournament %>

<%= form_for @tournament do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :time_zone %>
		<%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %>
	</div>
	<div>
		<%= f.label :starts_at %> (in time zone specific above)
		<%= f.datetime_select :starts_at %>
	</div>
	<div>
		<%= f.label :ends_at %> (in time zone specific above)
		<%= f.datetime_select :ends_at %>
	</div>
	<div>
		<%= f.label :match_length %>
		<%= f.text_field :match_length, :type => "number", :placeholder => '(in hours)' %>
	</div>
	<div>
		<%= f.label :minimum_bracket_size %>
		<%= f.select :minimum_bracket_size, [4,8,16,32,64,128,256] %>
	</div>
	<div>
		<%= f.submit 'Create' %>
	</div>
<% end %>