<% @title = 'Create a Tournament' %>
<h1>New Tournament</h1>

<%= error_messages_for @tournament %>

<%= form_for @tournament do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :starts_at %>
		<%= f.datetime_select :starts_at %>
	</div>
	<div>
		<%= f.label :ends_at %>
		<%= f.datetime_select :ends_at %>
	</div>
	<div>
		<%= f.label :participant_limit %>
		<%= f.text_field :participant_limit, :type => "number", :max => 64 %>
	<div>
		<%= f.submit 'Create' %>
	</div>
<% end %>