<% @title = 'Create a Tournament' %>
<h1>New Tournament</h1>

<%= error_messages_for @tournament %>

<%= form_for @tournament do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :should_start_at %>
		<%= f.datetime_select :should_start_at %> (in your time zone of <%= current_user.time_zone %>)
	</div>
	<div>
		<%= f.label :should_end_at %>
		<%= f.datetime_select :should_end_at %> (in your time zone of <%= current_user.time_zone %>)
	</div>
	<div>
		<%= f.label :match_length %> (in hours)
		<%= f.text_field :match_length, :type => "number" %>
	</div>
	<div>
		<%= f.label :minimum_bracket_size %>
		<%= f.select :minimum_bracket_size, [2,4,8,16,32,64,128,256] %>
	</div>
	<div>
		<%= f.label :maximum_bracket_size %>
		<%= f.select :maximum_bracket_size, [['--Calculated--','0'],4,8,16,32,64,128,256]%>
	</div>
	<div>
		<%= f.submit 'Create' %>
	</div>
<% end %>