<% @title = @tournament.name %>
<h1><%= @tournament.name %></h1>

<% if current_user.admin? %>
<p><%= link_to 'DELETE', @tournament, :method => :delete, :confirm => 'Are you sure?' %></p>
<% end %>

<% if flash[:error] %>
<div class="error">
	<%= flash[:error] %>
</div>
<% end %>

<p><%= @tournament.description %></p>

<ul>
	<li>
		There are <%= @tournament.registrations_count %> players registered for this tournament.
	</li>
	<li>
	<% if @tournament.registered?(current_user) %>
		You are registered!
		<% if @tournament.can_quit?(current_user) %>
			<%= link_to 'Cancel registration',
				tournament_registration_path(@tournament, @tournament.registration_for_user(current_user)),
					:method => :delete, :confirm => 'Are you sure?' %>
		<% end %>
	<% elsif  @tournament.can_join?(current_user) %>
		<%= link_to 'Join this tournament', tournament_registrations_path(@tournament), :method => :post %>
	<% else %>
		Sorry, registration is closed.
	<% end %>
	</li>

	<li>
		<% if @tournament.started? %>
			There
				<% if @tournament.brackets.count > 1 %>
				are <%= @tournament.brackets.count %> brackets
				<% else %>
				is 1 bracket
				<% end %>
			in motion.
		<% else %>
			The minimum bracket size is <%= @tournament.minimum_bracket_size %>, which means
			<% if @tournament.quorum_for_at_least_one_bracket? %>
			at least one bracket will be run!
			<% else %>
			we need a few more players before a bracket can be run.
			<% end %>
		<% end %>
	</li>
</ul>

<ul>
	<li>
		<%= render 'starts_at', :tournament => @tournament %>
	</li>
	<li>
		<%= render 'ends_at', :tournament => @tournament %>
	</li>
</ul>

<% @tournament.brackets.each_with_index do |bracket, i| %>
<h2>Bracket <%= i+1 %></h2>

<% if bracket.finished? %>
<p>
	<%= bracket.winner.email %> is the winner!
</p>
<% end %>

<table border="1">
	<tbody>
		<%= display_bracket(bracket) %>
	</tbody>
</table>
<% end %>