<% @title = @tournament.name %>
<h1><%= @tournament.name %></h1>

<% if flash[:error] %>
<div class="error">
	<%= flash[:error] %>
</div>
<% end %>

<p><%= @tournament.description %></p>

<p>
	Currently <%= @tournament.participants_count %> players participating.
</p>

<ul>
	<li><% if @tournament.started? %>Started<% else %>Starts<% end %> at: <%= @tournament.starts_at.in_time_zone(current_user.time_zone) %></li>
	<li><% if @tournament.ended? %>Ended<% else %>Ends<% end %> at: <%= @tournament.ends_at.in_time_zone(current_user.time_zone) %></li>
	<% if @tournament.can_join?(current_user) %>
	<li><%= link_to 'Join this tournament', tournament_participants_path(@tournament), :method => :post %></li>
	<% end %>
</ul>

<% @tournament.brackets.each_with_index do |bracket, i| %>
<h2>Bracket <%= i+1 %></h2>
<table border="1">
	<tbody>
		<%= display_bracket(bracket) %>
	</tbody>
</table>
<% end %>