<% @title = @tournament.name %>
<h1><%= @tournament.name %></h1>

<% if flash[:error] %>
<div class="error">
	<%= flash[:error] %>
</div>
<% end %>

<p><%= @tournament.description %></p>

<p>
	Currently <%= @tournament.participants_count %> players participating in the tournament.
	With a bracket size of <%= @tournament.max_participants_per_bracket %> players,
	we're able to fill <%= @tournament.estimated_number_of_brackets %> brackets.
</p>

<ul>
	<li>
		<% if @tournament.started? %>Started<% else %>Starts<% end %> at: <%= @tournament.starts_at %>
		(<% unless @tournament.started? %>in <% end %><%=
			distance_of_time_in_words(Time.now.utc, @tournament.starts_at) %><%
			if @tournament.started? %> ago<% end %>)
	</li>
	<li>
		<% if @tournament.ended? %>Ended<% else %>Ends<% end %> at: <%= @tournament.ends_at %>
		(<% unless @tournament.ended? %>in <% end %><%=
			distance_of_time_in_words(Time.now.utc, @tournament.ends_at) %><%
			if @tournament.ended? %> ago<% end %>)
	</li>
	<% if @tournament.can_join?(current_user) %>
	<li><%= link_to 'Join this tournament', tournament_participants_path(@tournament), :method => :post %></li>
	<% end %>
</ul>

<% @tournament.brackets.each_with_index do |bracket, i| %>
<h2>Bracket <%= i+1 %></h2>
<table border="1">
	<tbody>
		<%= display_bracket(bracket) %>
	</tbody>
</table>
<% end %>