<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bracket Baby<% if @title %> - <%= @title %><% end %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<footer>
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'My Info', edit_user_path(current_user) %></li>
	</ul>
	<p>Logged in as <%= current_user.email %></p>
</footer>
</body>
</html>
